<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form class="theme-form" [formGroup]="commonform" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="fname">Mobile Number</label>
                            <input type="text" formControlName="mobileno" class="form-control" id="email" placeholder="Enter Your Mobile Number" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="fname">Old Password</label>
                            <input type="text" formControlName="oldpassword" class="form-control" id="email" placeholder="Enter Your Old Password" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="fname">New Password</label>
                            <input type="text" formControlName="newpassword" class="form-control" id="email" placeholder="Enter Your New Password" required="">
                        </div>
                        <button class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->