<div class="container">
    <div class="card mb-1">
        <div class="card-body">
            <h4 class="card-title">{{orderid}} <button [routerLink]="['/home1/orderlist']" routerLinkActive="router-link-active" class="btn btn-sm btn-default float-right">Back to List</button></h4>
            <hr class="style3">
            <p>Was placed on {{orderdate}} </p>

        </div>
        <table class="table table-bordered text-center">
            <thead>
                <th>Product</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let pr of productlist">
                    <td>
                        <div class="row">
                            <div class="col-md-3"><img [src]="ProductService.apiurl + pr.productimg" style="height: 75px;" class="img-fluid img-thumbnail text-center  avatar-md" alt=""></div>
                            <div class="col-md-9">
                                <h5>{{pr.productname}}</h5>
                                <p>{{pr.qty}}X{{pr.rate}}</p>
                            </div>
                        </div>

                    </td>
                    <td>{{pr.producttotalrate}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <p class="float-right">Total</p>
                    </td>
                    <td>{{totalamount}}</td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{customername}}</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <p>{{addressname}},{{addresslineone}}</p>
                                <p>{{landmark}},{{city}}</p>
                                <p>{{state}}</p>
                                <span>Phone Number</span>
                                <p>{{mobileno}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>