<!-- <div class="container">
    <div class="card mb-1">
        <div class="card-body">
            <h4 class="card-title">{{orderdetails.orderid}} <button class="btn btn-sm btn-default float-right">Back to List</button></h4>
            <hr class="style3">
            <p>Was placed on {{orderdetails.orderdate}} and is currently On hold.</p>
            <table class="table table-bordered">
                <thead>
                    <th>Product</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
            </table>
        </div>
    </div>
</div> -->