<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h3> Review </h3>
    </div>
    <div class="modal-body">
        <!-- <input type="file" accept="image/*" #file (change)="fileChangeEvent($event)"> -->
        <form [formGroup]="uploadForm" (ngSubmit)="formsubmit()">
            <div class="row container">
                <div class="col-md-6">
                    <div class="form-gorup">
                        <label>Title :<span class="text-danger">*</span></label>
                        <input type="text" formControlName="englishtitle" autocomplete="OFF" name="englishtitle" class="form-control" [ngClass]="{'is-invalid': formsubmit && formData.englishtitle.errors}">
                        <div *ngIf="formsubmit && formData.englishtitle.errors" class="invalid-tooltip">
                            <span *ngIf="formData.englishtitle.errors.required">title  is requierd</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-gorup">
                        <label>Description:<span class="text-danger">*</span></label>
                        <input type="text" formcontolname="description" autocomplete="OFF" name="description" class="form-control" [ngClass]="{'is-invalid': formsubmit && formData.description.errors}">
                        <div *ngIf="formsubmit && formData.description.errors" class="invalid-tooltip">
                            <span *ngIf="formData.description.errors.required">description  is requierd</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="img-container">
                                <div class="form-group">
                                    <label>Product image : <span class="text-danger">*</span></label>
                                    <input class="form-control" accept="image/*" type="file" (change)="fileChangeEvent($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <img class="img img-thumbnail" [src]="croppedImage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>


</ng-template>