<app-breadcrumb [title]="'News and Events'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-9 col-lg-8 col-md-7 ">
                <div class="row blog-media" *ngFor="let blgcatlist of blogcatlist">
                    <div class="col-xl-5">
                        <div class="blog-left">
                            <a><img style="width: 100% !important;" src="http://208.109.8.9:3005/{{blgcatlist.imagepath}}" class="img-fluid" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="blog-right">
                            <div>
                                <!-- <h6>{{blgcatlist.date}}</h6> -->
                                <a>
                                    <h2 style="font-size: 22px;
                                    font-weight: 400;
                                    line-height: inherit;">{{blgcatlist.englishtitle}}</h2>
                                </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin </li>
                                    <li><i class="fa fa-eye"></i> {{blgcatlist.blogviewcount}} Views</li>
                                    <li><i class="fa fa-calendar"></i> {{blgcatlist.date}}</li>
                                </ul>
                                <div [innerHTML]="blgcatlist.description | slice:0:430"></div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Blog List start-->
            <!--Blog sidebar start-->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="blog-sidebar">
                    <form>
                        <div class="theme-card">
                            <h4>Category</h4>
                            <ul class="category">
                                <li>

                                    <div *ngFor="let category of ddlcategory">
                                        <h6 (click)="openbloglist(category._id)">{{category.blogcategoryname}}</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>

                    <div class="theme-card">
                        <h4>Recent Blog</h4>
                        <ul class="recent-blog">
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/1.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/2.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/3.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/4.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/5.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="theme-card">
                        <h4>Popular Blog</h4>
                        <ul class="popular-blog">
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>03 </span>
                                        <span>may</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Injected humour the like</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                                <p>it look like readable English. Many desktop publishing text. </p>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>03 </span>
                                        <span>may</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Injected humour the like</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                                <p>it look like readable English. Many desktop publishing text. </p>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>03 </span>
                                        <span>may</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Injected humour the like</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                                <p>it look like readable English. Many desktop publishing text. </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Blog sidebar start-->
        </div>
    </div>
</section>
<!-- Section ends -->