<app-breadcrumb [title]="'News and Events'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space  blog-page" style="padding-top:25px !important;">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-9 col-lg-8 col-md-7 ">
                <div class="row blog-media" *ngFor="let blgcatlist of blogcatlist">
                    <div class="col-xl-5">
                        <div class="blog-left">
                            <a><img style="width: 100% !important;" src="http://208.109.8.9:3005/{{blgcatlist.imagepath}}" class="img-fluid" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="blog-right">
                            <div [routerLink]="'/home1/bloglist'">
                                <!-- <h6>{{blgcatlist.date}}</h6> -->
                                <a>
                                    <h2 style="font-size: 22px;
                                    font-weight: 400;
                                    line-height: inherit;" (click)="openList(blgcatlist._id)">{{blgcatlist.englishtitle}}</h2>
                                </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin </li>
                                    <li> Category:{{blgcatlist.category}}</li>
                                    <li><i class="fa fa-eye"></i> {{blgcatlist.blogviewcount}} Views</li>
                                    <li><i class="fa fa-calendar"></i> {{blgcatlist.date}}</li>
                                </ul>
                                <hr>
                                <div [innerHTML]="blgcatlist.description | slice:0:430">

                                </div>
                                <button type="button" class="btn btn-solid btn-sm" style="float:right;margin-top:10px;" (click)="openList(blgcatlist._id)">read more</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row blog-media" *ngFor="let blogrec of blogrecent">
                    <div class="col-xl-5">
                        <div class="blog-left">
                            <a><img style="width: 100% !important;" src="http://208.109.8.9:3005/{{blogrec.imagepath}}" class="img-fluid" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="blog-right">
                            <div [routerLink]="'/home1/bloglist'">
                               
                                <a>
                                    <h2 style="font-size: 22px;
                                    font-weight: 400;
                                    line-height: inherit;">{{blogrec.englishtitle}}</h2>
                                </a>
                                <ul class="post-social">
                                    <li>Posted By : Admin Admin </li>
                                    <li><i class="fa fa-eye"></i> {{blogrec.blogviewcount}} Views</li>
                                    <li><i class="fa fa-calendar"></i> {{blogrec.date}}</li>
                                </ul>
                                <div [innerHTML]="blogrec.description | slice:0:430">

                                </div>
                                <button type="button" class="btn btn-solid btn-sm" style="float:right;margin-top:10px;" (click)="openList(blogrec._id)">readmore</button>

                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div *ngIf="blogcatlist.length==0">
                    <h6>No Blog Found</h6>
                </div> -->


            </div>
            <!--Blog List start-->
            <!--Blog sidebar start-->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="blog-sidebar">

                    <div class="theme-card">
                        <form>
                            <h4>Category</h4>
                            <ul class="category">
                                <li>
                                    <div style="display:flex;" *ngFor="let category of ddlcategory">
                                        <i style="color:rgb(250, 92, 92) !important;padding:4px 0;" class="fa fa-arrow-right "></i>
                                        <h6 style="font-size: 15px;padding: 4px;" (click)="openbloglist(category._id)">{{category.blogcategoryname}} {{category.date}}</h6>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>


                    <div class="theme-card">
                        <h4>Recent Blog</h4>
                        <ul class="recent-blog">
                            <li>
                                <div style="display:flex;" *ngFor="let recent of ddlrecent">
                                    <i style="color:rgb(250, 92, 92) !important;padding:4px 0;" class="fa fa-arrow-right "></i>
                                    <h6 style="font-size: 15px;padding: 4px;" (click)="recentbloglist(recent._id)"> {{recent.englishtitle}}</h6>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/2.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li> -->
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/3.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li> -->
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/4.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li> -->
                            <!-- <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/5.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 Dec 2018</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="theme-card">
                        <h4>Popular Blog</h4>
                        <ul class="popular-blog">
                            <li>
                                <div style="display:flex;" *ngFor="let popular of ddlpopular">
                                    <i style="color:rgb(250, 92, 92) !important;padding:4px 0;" class="fa fa-arrow-right "></i>
                                    <h6 style="font-size: 15px;padding: 4px;" (click)="blogpoplist(popular._id)"> {{popular.englishtitle}}</h6>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>03 </span>
                                        <span>may</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Injected humour the like</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                                <p>it look like readable English. Many desktop publishing text. </p>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>03 </span>
                                        <span>may</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>Injected humour the like</h6>
                                        <p>0 hits</p>
                                    </div>
                                </div>
                                <p>it look like readable English. Many desktop publishing text. </p>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!--Blog sidebar start-->
        </div>
    </div>
</section>
<!-- Section ends -->