<app-aboutusbreadcrumb [title]="'TNSRLM'" [breadcrumb]="'TNSRLM'">
</app-aboutusbreadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space" style="padding-top:25px !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img src="assets/images/about-main.jpg" class="img-fluid" alt="" />
                <h1 style="font-size:28px;font-weight:660;">TNSRLM</h1>
                <ul class="post-social">
                </ul>
                <div style="text-align: justify;">
                    <p>The Government of Tamil Nadu is implementing a special scheme called Tamil Nadu State Rural Livelihood Mission from the year 2012-13. The Mission activities are funded by Government of India and the State Government in the ratio of
                        60:40. </p>
                    <p>
                        TNSRLM intends to reduce poverty and vulnerability of the urban poor households by enabling them to access gainful self-employment and skilled wage employment opportunities, resulting in an appreciable improvement in their livelihoods on a sustainable
                        basis, through building strong grassroots level institutions of the poor. </p>
                    <p>
                        The objectives of TNSRLM is to build strong and vibrant institutional platforms of the poor in the rural areas which enable them to increase their household incomes through livelihood enhancements and access to financial and other services. Under this
                        scheme the target group comprises of poor and vulnerable section of the community. The target people are organized into active Community Based Organisations (CBOs) to provide sustainable livelihood opportunities.</p>
                    <p style="font-size:18px;font-weight:660;">SELF HELP GROUPS</p>
                    <p>Self Help Group (SHG) is a group of 12 to 20 women of the same socio-economic background who come forward voluntarily to work together for their own upliftment.The unique feature of the SHG is its ability to inculcate among its members
                        sound habits of thrift, savings and banking
                    </p>
                    <p>Regular savings, periodic meetings, compulsory attendance, and systematic training are the salient features of the SHG concept. Each group selects one animator and two representatives from among themselves. The animator is responsible
                        for providing leadership to the group and to maintain the various registers. The representatives assist the animator and maintain the bank accounts of the group.</p>
                    <p>REVOLVING FUND/SEED MONEY</p>
                    <p>To enhance the common fund and in order to easily access the bank loan Rs.415 Lakhs was given as grant to 2158 no of newly formed SHGs.</p>
                    <p style="font-size:18px;font-weight:660;">
                        PLF RESTRUCTURING.</p>
                    <p>

                        As per GO(MS)No.125 dated 21.07.2008 all the 425 Panchayat Level Federations were restructured and registered under Societies registration Act. So far Rs.425 Lakhs has been given as Incentive fund to all the 425 PLFs. From this fund, the SHG members are
                        provided loans for doing economic activities. PLFs are also motivated to obtain bulk loan from banks for promoting the livelihood activities of their SHG members..</p>
                    <p style="font-size:18px;font-weight:660;">

                        FOCUS ON DIFFERENTLY ABLED AND VULNERABLE PERSONS.</p>
                    <p>

                        15514 differently abled persons and 16452 vulnerable families were identified in PIP process. So far Individual loan assistance has been provided to 8657 Differently abled persons and 8943 vulnerable families amounting to Rs.2640 lakhs..</p>
                    <p style="font-size:18px;font-weight:660;">

                        COMMUNITY INVESTMENT FUND.</p>
                    <p>

                        In order to enhance the livelihood activities of SHG members Rs. 478 Lakhs given as Community Investment Fund (CIF) to 1091 no of Self Help Groups. And Rs.1868 Lakhs Amutha Surabhi Fund (ASF) loan given to 3801 no of SHGs..</p>
                    <p style="font-size:18px;font-weight:660;">

                        SHG BANK LINKAGE PROGRAMME.</p>
                    <p>

                        TNSRLM has taken up the task of focusing on SHG Bank Linkage programme for uplifting of poorest among poor to improve their livelihoods in order to lead better life. In Salem district for the last 6 years Rs.1351.49 crore loans has been given to SHGs
                        as Bank linkage programme..</p>
                    <p style="font-size:18px;font-weight:660;">

                        INTEREST SUBVENTION SCHEME.</p>
                    <p>

                        Interest subvention scheme is being implemented as one of a component under National Rural Livelihood mission In order to motivate the regular bank loan repaying SHGs. Through this scheme SHGs may avail bank loan as 7% interest rate; the rest of interest
                        rate will be given from NRLM to the respective SHGs loan accounts. In Salem district so far 3637 no of SHGs got interest subsidy for the amount of Rs. 53.39 lakhs..</p>
                    <p style="font-size:18px;font-weight:660;">

                        COMMON LIVELIHOOD GROUPS (CLG).</p>
                    <p>

                        Common Livelihood Groups is a new concept introduced by TNSRLM there by the individual members who are involved in the same activity are being clubbed together to form a CLG. As such, in Salem District 251 CLG’s were formed and Rs.199.38 Lakhs given as
                        Infra Fund..</p>
                    <p style="font-size:18px;font-weight:660;">


                        BLOCK LEVEL FEDERATION.</p>
                    <p>

                        In order to strengthening the Community Based Organizations (CBOs) like SHGs, VPRC and PLFs. Block Level Federation (BLF) were formed in all the TNSRLM implementing 13 blocks, The BLF will function as a Apex body at the block level..</p>
                    <p style="font-size:18px;font-weight:660;">


                        DISTRICT SUPPLY AND MARKETING SOCIETY.</p>
                    <p>

                        In Salem district there is a District Level Shopping Complex comprising of 20 shops and 17 no of village level shopping complex and 3 no of KIOSKs functioning under DSMS to market SHGs product. Through these shops 146 SHGs have been benefitted so far
                        and a sustained market is ensured for their goods produced..</p>
                    <p style="font-size:18px;font-weight:660;">


                        AMMA TWO WHEELER SCHEME.</p>
                    <p>

                        It is a scheme to empower working women by enabling them to purchase women friendly two wheelers to ease their commute to their enterprises, places of employment, engagements with banks and community based institutions. The Differently Abled may avail
                        retro-fitted three wheeler scooters. Each year one lakh working women are being benefited through this scheme..</p>
                    <p>

                        The Scheme has be in operation from 2017-18 onwards. A maximum subsidy of 50% of the cost of the two wheeler or Rs.25,000/, whichever is less, provided to the beneficiary as back and subsidy to procure gearless / auto geared which with also then 125cc
                        capacity.For Salem district 500 No of Vehicles has been supplied and balance 3955 number of vehicles to be supplied.</p>
                </div>
            </div>
        </div>
        <div class="row section-b-space blog-advance">
            <div class="col-lg-6">
                <img src="assets/images/blog/1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <img src="assets/images/blog/2.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!--Section ends-->