<app-aboutusbreadcrumb [title]="'TNULM'" [breadcrumb]="'TNULM'">
</app-aboutusbreadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space" style="padding-top:25px !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img src="assets/images/about-main.jpg" class="img-fluid" alt="" />
                <h1 style="font-size:28px;font-weight:660;">TNULM</h1>
                <ul class="post-social">
                </ul>
                <div style="text-align: justify;">

                    <p><b>Tamilnadu - Urban Livelihood Mission (TNULM) </b>intends to reduce poverty and vulnerability of the urban poor households by enabling them to access gainful self-employment and skilled wage employment opportunities, resulting in
                        an appreciable improvement in their livelihoods on a sustainable basis, through building strong grassroots level institutions of the poor. The scheme is being implemented from the year 2014-15. TNULM is a centrally sponsored scheme
                        funded by both the Central and the State Governments in the ratio of 60:40. </p>
                    <b>The components of the TNULM are:</b><br> <br>1.   Social Mobilization and Institution Development (SM&ID).<br> 2.   Capacity Building and Training (CB&T).<br> 3.   Employment through Skill Training and Placement (EST&P).<br> 4.   Self
                    Employment Programme (SEP).<br> 5.   Support to Urban Street Vendors (SUH).<br> 6.   Scheme of Shelter for Urban Homeless (SUSV), and an exclusive component, Innovation & Special Projects (I&SP)<br>

                </div>
            </div>
        </div>
        <div class="row section-b-space blog-advance">
            <div class="col-lg-6">
                <img src="assets/images/blog/1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <img src="assets/images/blog/2.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!--Section ends-->