<div class="navbar">
    <a href="javascript:void(0)" (click)="leftMenuToggle()">
        <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
    </a>
    <div id="mySidenav" class="sidenav" [class.openSide]="navServices?.leftMenuToggle">
        <a href="javascript:void(0)" class="sidebar-overlay" (click)="leftMenuToggle()" (mouseover)="onHover(false)"></a>
        <nav id="unset">
            <div (click)="leftMenuToggle()">
                <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back
                </div>

            </div>
            <ul id="sub-menu" class="sidebar-menu">
                <li *ngFor="let menuItem of menuItems" (mouseover)="onHover(menuItem.subcat ? true : false)">
                    <!-- Sub -->
                    <a href="javascript:void(0)" (click)="toggletNavActive(menuItem)">
               {{menuItem.categoryname}}
               <span class="sub-arrow"  *ngIf="menuItem.subcat"></span>
            </a>
                    <!-- Link -->
                    <!-- <a [routerLink]="menuItem.path" *ngIf="menuItem.type === 'link'">
               {{menuItem.title}}
               <span class="sub-arrow" *ngIf="menuItem.children"></span>
            </a> -->
                    <!-- External Link -->
                    <!-- <a href="{{ menuItem.path }}" *ngIf="menuItem.type === 'extLink'">
               {{menuItem.title}}
               <span class="sub-arrow" *ngIf="menuItem.children"></span>
            </a> -->
                    <!-- External Tab Link -->
                    <!-- <a href="{{ menuItem.path }}" *ngIf="menuItem.type === 'extTabLink'">
               {{menuItem.title}}
               <span class="sub-arrow" *ngIf="menuItem.children"></span>
            </a> -->
                    <!-- 2nd Level Menu -->
                    <ul [class]="menuItem.megaMenu ? 'mega-menu clothing-menu' : ''" [class.opensub1]="menuItem.active" *ngIf="menuItem.subcat">

                        <!-- Simple Menu Start-->
                        <ng-container>
                            <li *ngFor="let childrenItem of menuItem.subcat">

                                <!-- Link -->
                                <a class="has-submenu" (click)="getproducts(childrenItem._id)">
                     {{childrenItem.subcategoryname}}
                  </a>
                                <!-- External Link -->
                                <!-- <a href="{{ !childrenItem.type ? null : childrenItem.path }}" *ngIf="childrenItem.type === 'extLink'">
                    {{childrenItem.title}}
                  </a> -->
                                <!-- External Tab Link -->
                                <!-- <a href="{{ !childrenItem.type ? null : childrenItem.path }}" target="_blank" *ngIf="childrenItem.type === 'extTabLink'">
                     {{childrenItem.title}}
                  </a> -->

                            </li>
                        </ng-container>
                        <!-- Simple Menu End-->

                        <!-- Mega Menu Start-->

                        <!-- Mega Menu End-->
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>