<div *ngIf="!loader">
    <div class="img-wrapper">
        <div class="lable-block">
            <!-- <span class="lable3" *ngIf="product.new">new</span>
            <span class="lable4" *ngIf="product.sale">on sale</span> -->
        </div>
        <div class="front">
            <a (click)="openfullview(product.productid,product._id)">
                <img [defaultImage]="product.img1 ? product.img1 : 'assets/images/product/placeholder.jpg'" [lazyLoad]="ProductService.apiurl+product.img1" class="img-fluid lazy-loading" />
            </a>

        </div>
        <div class="back" *ngIf="onHowerChangeImage">
            <a (click)="openfullview(product.productid,product._id)">
                <img [src]="ImageSrc ? ImageSrc : product.img1" class="img-fluid lazy-loading">

            </a>
        </div>
        <!-- <ul class="product-thumb-list" *ngIf="thumbnail">
            <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">
                <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image.src)">
                    <img [lazyLoad]="image.src">
                </a>
            </li>
        </ul> -->
        <div class="cart-info cart-wrap">
            <a href="javascript:void(0)" title="Add to cart" *ngIf="cartModal">
                <i class="ti-shopping-cart"></i>
            </a>
            <a href="javascript:void(0)" title="Add to cart" (click)="addtocart(product)" *ngIf="!cartModal">
                <i class="ti-shopping-cart"></i>
            </a>
            <a href="javascript:void(0)" (click)="wishlist(product)" title="Add to Wishlist">
                <i class="ti-heart" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
                <i class="ti-search" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="product-detail">
        <div>
            <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
            <a (click)="openfullview(product.productid,product._id)">
                <h6>{{product.displayname}}</h6>
            </a>
            <p></p>
            <h4><i class="fa fa-inr"></i>{{product.sellingprice | number }}
                <del><span class="money"><i class="fa fa-inr"></i> {{product.mrpprice-product.sellingprice |  number : '1.2-2'}} </span></del>
            </h4>
        </div>
    </div>
</div>
<app-appquickview [product]="product" #quickView></app-appquickview>