<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <form class="theme-form" [formGroup]="commonform" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" formControlName="usrname" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="mobileno">Mobile Number</label>
                            <input type="text" formControlName="mobileno" class="form-control" id="mobileno" placeholder="Enter Mobile Number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="gender">Gender</label>
                            <input type="text" formControlName="gender" class="form-control" id="gender" placeholder="Enter your Gender" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Gmail</label>
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <button class="btn btn-sm btn-solid" type="submit">Save setting</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form" [formGroup]="addressform" (ngSubmit)="onAddressSubmit()">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">Address Name</label>
                            <input type="text" formControlName="addressname" class="form-control" id="home-ploat" placeholder="company name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="name">Contactnumber</label>
                            <input type="text" formControlName="contactnumber" class="form-control" id="address-two" placeholder="Address" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Addresslineone</label>
                            <input type="text" formControlName="addresslineone" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>


                        <div class="col-md-6">
                            <label for="email">Addresslinetwo</label>
                            <input type="text" formControlName="addresslinetwo" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Landmark</label>
                            <input type="text" formControlName="landmark" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">City</label>
                            <input type="text" formControlName="city" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">State</label>
                            <input type="text" formControlName="state" class="form-control" id="zip-code" placeholder="zip-code" required="">
                        </div>

                        <div class="col-md-6 select_input">
                            <label for="review">Country *</label>
                            <select formControlName="county" class="form-control" size="1">
                                <option value="India">India</option>
                                <option value="UAE">UAE</option>
                                <option value="U.K">U.K</option>
                                <option value="US">US</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Pincode</label>
                            <input type="text" formControlName="pincode" class="form-control" id="pincode" placeholder="pincode" required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
