<div class="icon-nav">
    <ul>
        <li class="onhover-div mobile-search search-widgets" id="search-widgets">
            <div (click)="searchToggle()" class="d-lg-none">
                <img src="assets/images/icon/search.png" class="img-fluid" alt="">
                <i class="ti-search"></i>
            </div>

            <div id="search-overlay" class="search-overlay" [ngStyle]="{'display': search ? 'block' : 'none' }">
                <div>
                    <span class="closebtn" title="Close Overlay" (click)="searchToggle()">×</span>
                    <div class="overlay-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li class="mobile-wishlist">
            <a [routerLink]="['/shop/wishlist']"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a>
        </li> -->
        <li class="onhover-div mobile-cart">
            <div>
                <a (click)="wishlistclick()">
                    <img src="assets/images/icon/wislist.png" class="img-fluid" alt="" style="height: 23px;width: 23px;">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
            <span class="cart_qty_cls">{{wishlistcount}}</span>
            <ul class="show-div shopping-cart" *ngIf='whishlistempty'>
                <h5>Your wishlist is currently empty.</h5>
            </ul>
            <ul class="show-div shopping-cart" *ngIf='wishprofileshow'>
                <li *ngFor="let product of wishproducts">
                    <div class="media">
                        <a [routerLink]="['/shop/wishlist']">
                            <img class="mr-3" [src]="imageurl.commenurl+product.productimg">
                        </a>
                        <div class="media-body">
                            <a [routerLink]="['/shop/wishlist']">
                                <h4>{{ product.productname }}</h4>
                            </a>
                            <h4>
                                <span>
              <!-- {{ product?.qty }} x -->
              {{ product?.selleingprice | currency: 'INR' }}
              <!-- ={{product?.mrpprice}} -->
            </span>
                            </h4>
                        </div>
                    </div>

                    <div class="close-circle" (click)="removewishlistItem(product)">
                        <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>

                </li>

                <!-- <li>
                  <div class="total">
                      <h5>subtotal : <span>10,000</span></h5>
                  </div>
              </li> -->
                <li>
                    <div class="buttons">
                        <a [routerLink]="['/shop/wishlist']" class="view-cart">view wishlist</a>
                        <!-- <a [routerLink]="['/shop/checkout']" class="checkout">checkout</a> -->
                    </div>
                </li>
            </ul>
        </li>

        <li class="onhover-div mobile-cart">
            <div>
                <a (click)="cartclick()">
                    <img src="assets/images/icon/cart.png" class="img-fluid" alt="" style="height: 23px;width: 23px;">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
            <span class="cart_qty_cls">{{ cartlistcount }}</span>
            <ul class="show-div shopping-cart" *ngIf='cartempty'>
                <h5>Your cart is currently empty.</h5>
            </ul>
            <ul class="show-div shopping-cart" *ngIf='cartshow'>
                <li *ngFor="let product of products">
                    <div class="media">
                        <a [routerLink]="['/shop/cart']">
                            <img class="mr-3" [src]="imageurl.commenurl+product.productimg">
                        </a>
                        <div class="media-body">
                            <a [routerLink]="['/shop/cart']">
                                <h4>{{ product.productname }}</h4>
                            </a>
                            <h4>
                                <span>
                  {{ product?.qty }} x
                  {{ product?.selleingprice | currency: 'INR'  }}={{product?.producttotalrate}}
                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="close-circle" (click)="removecartItem(product)">
                        <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li>
                    <div class="total">
                        <h5>subtotal : <span>{{totalamount | currency: 'INR'}}</span></h5>
                    </div>
                </li>
                <li>
                    <div class="buttons">
                        <a [routerLink]="['/shop/cart']" class="view-cart">view cart</a>
                        <a [routerLink]="['/shop/checkout']" class="checkout">checkout</a>
                    </div>
                </li>
            </ul>
        </li>

        <li class="onhover-div mobile-setting">
            <div><img src="assets/images/icon/user.png" class="img-fluid" alt="setting" style="height: 23px;width: 23px;">
                <i class="ti-settings"></i></div>
            <div class="show-div setting">
                <h6>My Account</h6>
                <ul>
                    <li *ngIf="afterlogin">
                        <a [routerLink]="['/user/login']" [queryParams]="{debug: true}" fragment="education">
                        Login
                      </a>
                    </li>
                    <li *ngIf="profileshow">
                        <a (click)="looutfn()">
                    Logout
                  </a>
                    </li>
                    <li *ngIf="afterlogin">
                        <a [routerLink]="['/user/register']" [queryParams]="{debug: true}" fragment="education">
                      Register
                    </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/user/changepassword']" [queryParams]="{debug: true}" fragment="education">
                    Forget Password
                  </a>
                    </li> -->
                    <li *ngIf="profileshow">
                        <a [routerLink]="['/user/profile']" [queryParams]="{debug: true}" fragment="education">
                        profile
                </a>
                    </li>
                </ul>
                <!-- <h6>currency</h6>
              <ul class="list-inline">
                  <li *ngFor="let currency of currencies">
                      <a href="javascript:void(0)" (click)="changeCurrency(currency)">{{ currency.name }}</a>
                  </li>
              </ul> -->
            </div>
        </li>
    </ul>
</div>
