<app-breadcrumb [title]="'Privacy and Policy'" [breadcrumb]="'Privacy and Policy'">
</app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space" style="padding-top:25px !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">



                <div style="text-align: justify;">


                    <p style="font-size:20px;font-weight:660;">Terms of Use :</p>
                    <p>
                        Salem District is managing the content of the portal.Though all efforts have been made to ensure the accuracy and currency of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes.</p>
                    <p>

                        In no event will the Salem district be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of
                        or in connection with the use of this Portal.</p>
                    <p>

                        Links to other websites that have been included on this Portal are provided for public convenience only. Salem District is not responsible for the contents or reliability of linked websites. We cannot guarantee the availability of such linked pages at
                        all times.</p>
                    <p>

                        These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.</p>
                    <p style="font-size:20px;font-weight:660;">


                        Copyright Policy :</p>
                    <p>

                        Material featured on this website may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading context. Wherever
                        the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material which is identified as being copyright of a third
                        party. Authorisation to reproduce such material must be obtained from the departments/copyright holders concerned.</p>
                    <p style="font-size:20px;font-weight:660;">


                        Privacy Policy :</p>
                    <p> This website does not automatically capture any specific personal information from you, (like name, phone number or e-mail address), that allows us to identify you individually. If the website requests you to provide personal information,
                        you will be informed for the particular purposes for which the information is gathered e.g. feedback form and adequate security measures will be taken to protect your personal information.</p>
                    <p>

                        We do not sell or share any personally identifiable information volunteered on the website site to any third party (public/private). Any information provided to this website will be protected from loss, misuse, unauthorized access or disclosure, alteration,
                        or destruction.</p>
                    <p>

                        We gather certain information about the User, such as Internet protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit and the pages visited. We make no attempt to link these addresses with the identity of
                        individuals visiting our site unless an attempt to damage the site has been detected.</p>
                    <p style="font-size:20px;font-weight:660;">


                        Hyper Linking Policy :.</p>
                    <p style="font-size:16px;font-weight:660;">
                        Links to external websites/portals :</p>
                    <p>
                        At many places in this website, you shall find links to other websites/portals. This links have been placed for your convenience. NIC is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views
                        expressed in them. Mere presence of the link or its listing on this Portal should not be assumed as endorsement of any kind. We can not guarantee that these links will work all the time and we have no control over availability
                        of linked pages.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Section ends-->