<div class="img-wrapper productlist_box">
    <div class="img-block">
        <!-- <div class="lable-wrapper">
            <span class="lable1">new</span>
            <span class="lable2">% off</span>
        </div> -->
        <div class="front">
            <a (click)="openfullview(products.productid,products._id)">
                <img [defaultImage]="products.productimg ? products.productimg : 'assets/images/product/placeholder.jpg'" [lazyLoad]="ProductService.apiurl+products.productimg" class="img-fluid lazy-loading" alt="test">
                <!-- <img [src]="'assets/images/product/placeholder.jpg'" class="img-fluid lazy-loading" alt="test"> -->
            </a>
        </div>
        <div class="back" *ngIf="onHowerChangeImage">
            <a (click)="openfullview(products.productid,products._id)">
                <img [src]="ImageSrc ? ImageSrc : products.img1" class="img-fluid lazy-loading">
            </a>
        </div>

        <div class="cart-info cart-wrap productlist_cart">
            <a href="javascript:void(0)" title="Add to cart" *ngIf="cartModal">
                <i class="ti-shopping-cart"></i>
            </a>
            <a href="javascript:void(0)" title="Add to cart" *ngIf="!cartModal">
                <i class="ti-shopping-cart"></i>
            </a>
            <a href="javascript:void(0)" title="Add to Wishlist">
                <i class="ti-heart" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0)" title="Quick View">
                <i class="ti-search" aria-hidden="true"></i>
            </a>
            <!-- <a href="javascript:void(0)" title="Compare">
                <i class="ti-reload" aria-hidden="true"></i>
            </a> -->
        </div>
    </div>
    <div class="product-detail">
        <div>
            <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
            <a>
                <h6>{{products.displayname}}</h6>
            </a>
            <h4>
                <i class="fa fa-inr"></i> {{products.sellingprice}}<del><span class="money"><i class="fa fa-inr"></i> {{products.sellingprice}}</span></del>
            </h4>
        </div>
    </div>
    <app-appquickview #quickView></app-appquickview>