<app-breadcrumb [title]="'orders'" [breadcrumb]="'orderlist'"></app-breadcrumb>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-border">
                <thead>
                    <th>Sno</th>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Payment Type</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr *ngFor="let or of orderlist;let i=index" (click)="redirectorderdetails(or._id)">
                        <td>{{i+1}}</td>
                        <td>{{or.orderid}}</td>
                        <td>{{or.orderdate}}</td>
                        <td>{{or.orderstatus}}</td>
                        <td>{{or.paymenttype}}</td>
                        <td><i class="fa fa-inr"></i>{{or.totalamount}}&nbsp; For {{or.producttotalcount}} Item(s)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>