<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1 style="font-size:35px;"> {{ title }}</h1>

                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/pets'">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/home1/bloglist'">News & Events</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li> -->
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->